@model Produit

    <br>
    <br>
    <br>


    <div class="container">
        <div class="card-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src=@Model.ImageUrl alt="Image Cafe">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-box">
                        <h5 class="mbr-title mbr-fonts-style display-2">
                            <strong>@Model.Nom</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style display-7">@Model.Description</p>
                        <div class="cost">
                        <span class="currentcost mbr-fonts-style pr-2 display-2">@Model.Prix.ToString("c")</span>
                        </div>
                    <div class="mbr-section-btn item-footer mt-2"><a asp-controller="PanierAchat" asp-action="AjouterAuPanierAchat" asp-route-Id="@Model.Id" class="btn item-btn btn-primary display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Ajouter au panier&nbsp;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>