
<div class="container">
    <br><br><br><br>
    <div class="text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/148/148767.png" class="img-fluid"
             style="width: 200px; height: 200px; margin-left: auto; margin-right: auto" alt="...">
        <br>
        <h1><strong>Votre commande a bien été reçue</strong></h1>
        <br>
        <p>Merci beaucoup pour votre achat !</p>
        <a class="btn btn-primary w-20 " asp-controller="Produit" asp-action="Boutique">
            Revenir au magasin
        </a>
    </div>
</div>